[id^=cc-form__] {

  .form-group {
    label {
      //margin-top: .55rem;
      margin-bottom: .015rem;
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: lighten($text-color, 4);
      padding-left: 0.05rem;

      //for use with radio & checkboxes
      &.custom-control-label {
        font-weight: 400;
        text-transform: none;
        padding-top: 2px;
        font-size: 0.9rem;
      }
      &.is-invalid{
        color: red;
        text-transform: initial;
        font-weight: 400;
      }
    }

    small {
      padding-left: 0.05rem;
    }

    .is-invalid {
      & + i.fas {
        color: $color-error-bg;
        margin: 0 4px;
      }
    }

    // DIV wrapper for Password Fields with show/hide function
    .cc-showhidepwd {
      display: flex;
      justify-content: space-between;
    }

    // Placeholders
    .form-control {

      //placeholder
      &::-webkit-input-placeholder { color: #bbb; }

      //form styling
      //padding: 1.25rem .75rem;
    }

    select.form-control {
      //text-indent: 5px;
      &.is-invalid, &.was-validated, &:invalid {
        background-image: none; //overrides default X sign on error field for dropdowns
      }
    }

    input[type=search] {
      background: #fff url("../images/icons/search-icon.png") no-repeat 0 0;
      background-size: 18px;
      background-position: 6px;
      padding-left: 30px;
      //width: 320px;
    }

    input[type=password]::-ms-reveal,
    input[type=password]::-ms-clear
    {
      display: none;
    }
  }

  .custom-checkbox {
    label.is-invalid {
      display: none !important;
    }
  }

}